apiVersion: 1

policies:
  - orgId: 1
    receiver: "Alert Bridge (WhatsApp Simulator)"
    group_by:
      - grafana_folder
      - alertname
    group_wait: 10s
    group_interval: 1m
    repeat_interval: 5m
